* {
    font-family: Poppins, sans-serif;
    list-style: none;
    background-color: #f0ecd3;
}

h1 {
    text-align: center;
    color: #776B5D;
}

img {
    width: 500;
    height: 270;
}

li {
    margin: auto;
}

a {
    text-decoration: none;
    color: #555f49;
}

a:hover {
    color: #314123;
}

.recipes {
    text-align: center;
    margin-left: -50px;
}